<!doctype html>
<html lang="en">

<head>
  <title>Login Administrator</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- CSS propio -->
  <link  rel="stylesheet" href="{{ url_for('static', filename='css/adminstyle.css')}}" >

</head>

<body class="body-admin">
  <nav class="navbar navbar-expand navbar-dark py-4 d-flex justify-content-center nav-admin">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="clothes">Administración</a>
        <a class="nav-item nav-link" href="/admin/info">Info Usuario</a>
        <a class="nav-item nav-link" href="/admin/logout">Log Out</a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Web
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/">Inicio</a></li>
                <li><a class="dropdown-item" href="/clothes">Prendas</a></li>
                <li><a class="dropdown-item" href="/info">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
</nav>


    <div class="container mt-5 container-video">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <p class="text-center aligb.middle pt-3">Añadir una nueva prenda</p>
                    {% if message%}
                          
                          <div
                          class="alert alert-danger"
                          role="alert"
                          >
                          <strong>{{ message }}</strong>
                        </div>
                          
                        {% endif%}
                    <div class="card-body">
                        <form action="/admin/clothes/guardar" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="txtName" class="form-label">Nombre de la prenda:</label>
                                <input type="text"
                                class="form-control" name="txtName" id="txtName" aria-describedby="helpId" placeholder="Escribe el nombre...">
                            </div>
                            <div class="mb-3">
                                <label for="txtBrand" class="form-label">Marca de la prenda:</label>
                                <input type="text"
                                    class="form-control" name="txtBrand" id="txtBrand" aria-describedby="helpId" placeholder="Escribe el nombre...">
                            </div>
                            <div class="mb-3">
                                <label for="txtPrice" class="form-label">Precio de la prenda:</label>
                                <input type="text"
                                    class="form-control" name="txtPrice" id="txtPrice" aria-describedby="helpId" placeholder="Escribe el nombre...">
                            </div>
                            <div class="mb-3">
                                <label for="txtImage" class="form-label">Imagen:</label>
                                <input type="file"
                                    class="form-control" name="txtImage" id="txtImage" aria-describedby="helpId" placeholder="Sube una imagen...">
                            </div>
                            <div class="mb-3">
                                <label for="txtURL" class="form-label">URL:</label>
                                <input type="text"
                                    class="form-control" name="txtURL" id="txtURL" aria-describedby="helpId" placeholder="Escribre la URL...">
                            </div>

                            <button type="submit" class="btn btn-success">Agregar</button>

                        </form>
                    </div>
                 </div>
            </div>
            <div class="col-md-9">
                
                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">ID</th>
                                <th class="text-center" scope="col">Nombre</th>
                                <th class="text-center" scope="col">Marca</th>
                                <th class="text-center" scope="col">Precio</th>
                                <th class="text-center" scope="col">Imagen</th>
                                <th class="text-center" scope="col">URL</th>
                                <th class="text-center" scope="col">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for clothe in clothes %}
                            <tr class="">
                                <td scope="row" class="align-middle text-center">{{clothe[0]}}</td>
                                <td class="align-middle text-center">{{clothe[1]}}</td>
                                <td class="align-middle text-center">{{clothe[2]}}</td>
                                <td class="align-middle text-center">{{clothe[3]}}</td>
                                <td class="align-middle text-center"><img width="60" src="/img/{{clothe[4]}}" class="img-fluid" alt=""></td>
                                <td class="align-middle text-center">
                                    <a href="{{clothe[5]}}">
                                        <button type="button" class="btn btn-info">URL</button>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <form action="edit" method="POST">
                                        <input type="hidden" value="{{clothe[0]}}" name="txtID" id="txtID">
                                        <input type="hidden" value="{{clothe[1]}}" name="txtName" id="txtName">
                                        <input type="hidden" value="{{clothe[2]}}" name="txtBrand" id="txtBrand">
                                        <input type="hidden" value="{{clothe[3]}}" name="txtPrice" id="txtPrice">
                                        <input type="hidden" value="{{clothe[4]}}" name="txtImage" id="txtImage">
                                        <input type="hidden" value="{{clothe[5]}}" name="txtUrl" id="txtUrl">
                                            <button type="submit" class="btn btn-primary button-edit">Editar</button>
                                    </form>

                                    <form action="/admin/clothes/borrar" method="POST">
                                        <input type="hidden" value="{{clothe[0]}}" name="txtID" id="txtID">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                

            </div>
            
        </div>
    </div>

    

{% include 'admin/footer.html' %}