{% include 'web/header.html' %}
<div class="container">
    <div>
        <div class="col-md-3">
        <form class="navbar-form navbar-left" action="/clothes/buscar" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="txtSearch" id="txtSearch" placeholder="Search">             
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
          </form>
        </div>
        <div class="row">
            {% for clothe in clothes %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="/img/{{ clothe[4] }}" alt="Title" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{ clothe[1] }}</h4>
                        <p class="card-text">Marca: {{clothe[2]}} </p><p class="card_text">Precio: {{ clothe[3] }}€</p>
                        <p class="card-text">
                            <a id="" class="btn btn-primary" href="{{ clothe[5] }}" role="button">URL</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>    

{% include 'web/footer.html' %}