<!--Utilizo sintaxis de bootstrap en específico bs5-$ para crear una estructura html incluyendo el framework para poder aplicarlo sobre la interfaz gráfica -->
<!--Luego los separamos en -->
<!--Con bootstrap ahora aplicamos "bs5-jumbotron-default"-->
{% include 'web/header.html' %}
    <div class="row align-items-md-stretch mh-100">
        <div class="col-md-12">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>WELCOME</h2>
                <p>Bienvenido Admin</p>
                <button class="btn btn-outline-primary" type="button">Example button</button>
            </div>
        </div>
        
    </div>
{% include 'web/footer.html' %}
